# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ATLAS_URL=mongodb+srv://bsc-cohort-admin:bsc-cohort-admin@cluster0.uzd02mn.mongodb.net/books?retryWrites=true&w=majority&appName=Cluster0
# PORT=5000

# ATLAS_URL=${ATLAS_URL}
# PORT=${PORT}
